
Vəzifə:  IT ADMINISTRATOR
Şirkət: HR Inn Recruitment & Consulting
Bölgə: Bakı
Əmək haqqı: 1200 - 1500
Qısa təsvir:
Ежедневная работа отдела информации
Установка нового оборудования и программного обеспечения
Защита данных клиентов от внешнего проникновения
Защита базы данных
Решение компьютерных программных и аппаратных проблем
Проверка компьютерного оборудования на электробезопасность
Регистрация и контроль программных лицензий.
Управление ИТ-оборудованием, расходными материалами и другими ресурсами
Непрерывная связь с поставщиками программног...
http://www.example.com
